# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Link-Repo-GitHub.txt
_State-of-Mind.pdf
F25D-Filuppladdning, dataläsning i grupp .rtfd/attachment-e1253510-ecbd-42d4-bb06-f73e752a5046-image.png.webp
public/dev_files_tbd/testdata_ca_50MB.xlsx
F25D-Filuppladdning, dataläsning i grupp .rtfd/TXT.rtf
